<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>about me</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<!-- about-myself start -->
			<div class="about-myself">
				<!-- about-me-all-info start -->
				<div class="about-me-all-info">
					<div class="row">
						<div class="col-md-4 text-center">
							<!-- about-me-img start -->
							<div class="about-me-img">
								<img src="img/about/about-me.jpg" alt="">
							</div>
							<!-- about-me-img end -->
						</div>
						<div class="col-md-8 text-center">
							<!-- about-me-info start -->
							<div class="about-me-info">
								<h2>Stevin Smith</h2>
								<p>Frontend Developer</p>
							</div>
							<!-- about-me-info end -->
						</div>
					</div>
				</div>
				<!-- about-me-all-info end -->
				<div class="row">
					<div class="col-md-4">
						<!-- about-me start -->
						<div class="about-me">
							<h4>About Me</h4>
							<p>Hello! I’m Smith. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum ullamcorper sem, at placerat dolor volutpat ac. Duis nulla enim, condimentum nec ultricies.</p>
							<a href="#" class="resume-btn">download resume</a>
						</div>
						<!-- about-me end -->
					</div>
					<div class="col-md-6">
						<!-- about-personal-info start -->
						<div class="about-personal-info">
							<ul>
								<li><strong>Full Name :</strong>Stevin Smith</li>
								<li><strong>Age :</strong>26</li>
								<li><strong>Phone :</strong>+89824111</li>
								<li><strong>Address :</strong>Berlin, Germany</li>
								<li><strong>Email :</strong>smith@tech.com</li>
								<li><strong>Skype :</strong>smith00-3</li>
								<li><strong>Job :</strong>Frontend Developer</li>
								<li><strong>Freelancer :</strong>available</li>
							</ul>
						</div>
						<!-- about-personal-info end -->
					</div>
					<div class="col-md-2">
						<!-- social-links start -->
						<div class="social-links">
							<a href="#"><i class="icofont icofont-social-facebook"></i></a>
							<a href="#"><i class="icofont icofont-social-twitter"></i></a>
							<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
							<a href="#"><i class="icofont icofont-social-instagram"></i></a>
							<a href="#"><i class="icofont icofont-social-pinterest"></i></a>
							<a href="#"><i class="icofont icofont-social-youtube"></i></a>
						</div><!-- social-links end -->
					</div>
				</div>
			</div>
			<!-- about-myself end -->
		</div>