{% load staticfiles %}
	<!-- Scripts -->
	<script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/modernizr.custom.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/classie.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/respond.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/jquery.counterup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/waypoints.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/instafeed.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/smoothscroll.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/jquery.backstretch.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/jquery.backgroundvideo.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/wow.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/detectmobilebrowser.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/masonry.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/cbpGridGallery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/styleswitch.js' %}"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>