{% load staticfiles %}
	<!-- Scripts -->

	<!-- jbootstrap js -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- animated-headline js -->
	<script src="{% static 'js/animated-headline.js' %}"></script>
	<!-- circle-progress js -->
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<!-- isotope js -->
	<script src="{% static 'js/isotope-v3.0.4.min.js' %}"></script>
	<!-- magnific-popup js -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- owl-carousel js -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<!-- waypoints js -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- scrollUp js -->
	<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<!-- meanmenu js -->
	<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
	<!-- imagesloaded js -->
	<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	<!-- imagesloaded js -->
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<!--  Print js -->
	<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
	<!-- gmap3 js -->
	<script src="{% static 'js/gmap3.min.js' %}"></script>
	<!-- google api js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtF5PUNbKPcGWm8w-JdH1U5gYb0Mkd8lM"></script>
    <!-- manin  js -->
	<script src="{% static 'js/main.js' %}"></script>