{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Kshitij Gorde - Software Engineering | Full Stack Developer | Machine Learning</title>
	<meta name="description" content="Computer Science graduate from UNCC. My expertise span Software Engineering, Full Stack Development and Machine Learning">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel=icon href="img/favicon.png" type="image/png">
	<!-- Place favicon.ico in the root directory -->
    {% block extracss %}
		{% include "all_css.min.html" %}
	{% endblock %}
	<!-- modernizr js -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
	<!-- jquery-3.2.1.min js -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
</head>
<body>
	<!-- preloder Start -->
	<div class="about-me-preloder">
		<div class="spinner"></div>
	</div>
	<!-- preloder End -->
	{% block content %}
	{% endblock %}

	
	{% block extrajs %}
		{% include "all_js.html" %}
	{% endblock %}
</body>
</html>