<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Kshitij Gorde - Machine Learning | Full Stack Developer </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel=icon href="img/favicon.png" type="image/png">
	<!-- Place favicon.ico in the root directory -->

	
    {% block extracss %}
		{% include "all_css.min.html" %}
	{% endblock %}
	<!-- modernizr js -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!-- preloder Start -->
	<div class="about-me-preloder">
		<div class="spinner"></div>
	</div>
	<!-- preloder End -->
	{% block content %}
	{% endblock %}

	
	{% block extrajs %}
		{% include "all_js.min.html" %}
	{% endblock %}
</body>
</html>