<div class="container">
			<div class="row m-bottom-0">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>experience</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<!-- section-divide-line start -->
			<div class="section-divide-line">
				<div class="row">
					{% for item in experience_objects %}
					<div class="col-sm-6">
						<!-- rounded-shape start -->
						<div class="rounded-shape wow bounceIn animated">
						</div>
						<!-- rounded-shape start -->
						<!-- experience-details start -->
						<div class="panel-group experience-details" id="experience">
							<div class="panel panel-default wow slideInLeft animated">
								<div class="panel-heading info-line-shape">
									<a href="#experince-1" data-parent="#experience" data-toggle="collapse">
									<h3>Frontend Developer <span>ProperTheme</span></h3>
									</a>
								</div>
								<div id="experince-1" class="panel-collapse collapse in">
									<div class="panel-body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae blanditiis, nesciunt adipisci consectetur facilis sint explicabo excepturi. Error qui ratione perferendis, quaerat incidunt? Delectus doloribus reiciendis, sequi deserunt. Veritatis eveniet consectetur facere commodi molestiae neque, error officiis quos, expedita reprehenderit tempore rerum et alias numquam sequi, reiciendis soluta necessitatibus harum!
									</div>
								</div>
							</div>
						</div>
						<!-- experience-details end -->
					</div>
					<div class="col-sm-6">
						<!-- experience-time start-->
						<div class="experience-time line-shape wow slideInRight">
							<h4 >July 2017 - Still Now</h4>
						</div><!-- experience-time end-->
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- section-divide-line end -->
		</div>