{% load static %}
<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>contact</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<div class="row">
                <div class="col-md-12">
                	<!-- g-map start -->
                    <div class="g-map">
                    	<div class="map" id="map" style="height:500px; width:100%;"></div>
                    </div>
                    <!-- g-map end -->
                </div>
            </div>
			<div class="row">
				<div class="col-sm-8">
					<!-- contact-form start -->
					<div class="contact-form">
						<form action="#">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Name">
								</div>
								<div class="col-md-6">
									<input type="email" placeholder="Email">
								</div>
							</div>
							<input type="text" placeholder="Subject">
							<textarea name="Message" id="Message" placeholder="Mesaage" cols="30" rows="10"></textarea>
							<input type="submit" value="Submit">
						</form>
					</div>
					<!-- contact-form end -->
				</div>
				<div class="col-sm-4">
					<!-- qr-code start -->
					<div class="qr-code">
						<img src="{% static 'img/qrcode.jpeg' %}" alt="">
					</div>
					<!-- qr-code end -->
					<!-- contact-address-info start -->
					<div class="contact-address-info">
						<p><span><i class="icofont icofont-social-google-map"></i></span>House 67, Road#3 NewYork</p>
						<p><span><i class="icofont icofont-email"></i></span>about.me@gmail.com</p>
						<p><span><i class="icofont icofont-ui-dial-phone"></i></span>+018269874656</p>
					</div>
					<!-- contact-address-info end -->
				</div>
			</div>
		</div>
		<!-- contact-area end -->
		<!-- footer-copyright-area start -->
		<div class="footer-copyright-area">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<!-- copyright-text start-->
						<div class="copyright-text">
							<p>Kshitij Gorde Copyright 2018</p>
						</div>
						<!-- copyright-text -->
					</div>
					<!-- footer social-links start -->
					<div class="col-md-6">
						<div class="social-links pull-right">
							<a href="https://twitter.com/kshitijgorde" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
							<a href="https://www.linkedin.com/in/gordekshitij" target="_blank"><i class="icofont icofont-social-linkedin"></i></a>
							<a href="https://www.github.com/kshitijgorde" target="_blank"><i class="icofont icofont-social-github"></i></a>
							<a href="https://stackoverflow.com/users/4046516/kshitij-g?tab=profile" target="_blank"><i class="icofont icofont-social-stack-overflow"></i></a>
							<a href="https://kshitijg-information.slack.com" target="_blank"><i class="icofont icofont-social-slack"></i></a>
							<a href="https://www.meetup.com/members/243017193/" target="_blank"><i class="icofont icofont-social-meetup"></i></a>
						</div>
						<!-- footer social-links end -->
					</div>
				</div>
			</div>
		</div>