{% extends 'base.min.html' %}
{% block content %}
	<!-- hero-slider-area start -->
	<section class="hero-slider-area hero-slide-bg" id="home">
		{% include 'slider_section.min.html' %}
	</section>
	<!-- hero-slider-area end -->
	<!-- header-navbar-area start -->
	<div class="header-navbar-area">
		{% include 'navbar.min.html' %}
	</div>
	<!-- header-navbar-area end -->
	<!-- Modals Section -->
	{% include 'modals.min.html' %}
	<!-- end of Modals Section -->
	<!-- mobile-mean-menu-area start -->
    <div class="mobile-mean-menu-area hidden-lg hidden-md hidden-sm">
        {% include 'mobile_navbar.min.html' %}
    </div>
    <!-- mobile-meanmenu-end -->
	<!-- about-me-area start -->
	<section class="about-me-area ptb-90" id="about">
		{% include 'aboutme_section.min.html' %}	
	</section>
	<!-- about-me-area end -->
	<!-- all-skill-area start -->
	<section class="all-skill-area ptb-90" id="skill">
		{% include 'skills_section.min.html' %}
	</section>
	<!-- all-skill-area end -->
	<!-- education-area start -->
	<section class="education-area ptb-90" id="education">
		{% include 'education_section.min.html' %}
	</section>
	<!-- education-area end -->
	<!-- experience-area start -->
	<section class="experience-area ptb-90" id="experience">
		{% include 'experience_section.min.html' %}
	</section>
	<!-- experience-area end -->
	<!-- portfolio-area start -->
	<section class="portfolio-area ptb-90" id="portfolio">
		{% include 'portfolio_section.min.html' %}
	</section>
	<!-- portfolio-area end -->
	<!-- testimonial-area start -->
	<section class="testimonial-area ptb-90" id="testimonial">
		{% include 'testimonial_section.min.html' %}
	</section>
	<!-- testimonial-area end -->
	<!-- my-blog-area start -->
	{% comment %}
	<section class="my-blog-area ptb-90" id="blog">
		{% include 'recent_blog_section.min.html' %}
	</section>
	{% endcomment %}
	<!-- my-blog-area end -->
	<!-- contact-area start -->
	<section class="contact-area p-top-90" id="contact">
		{% include 'footer.html' %}
	</section>
	<!-- contact-area end -->
{% endblock %}