<div id="sticker-mobile" class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <!-- logo start -->
                       <div class="logo">
						<a href="index.html"><img src="img/logo.png" alt=""></a>
						</div>
					<!-- logo end -->
					</div>
					<div class="col-sm-12">
                        <div class="meanmenu-wrap">
                            <nav>
                                <ul class="nav">
                                    <li><a href="#home" class="smooth">home</a></li>
									<li><a href="#about" class="smooth">about</a></li>
									<li><a href="#skill" class="smooth">skill</a></li>
									<li><a href="#education" class="smooth">education</a></li>		
									<li><a href="#experienc" class="smooth">experience</a></li>		
									<li><a href="#portfolio" class="smooth">portfolio</a></li>		
									<li><a href="#testimonial" class="smooth">testimonial</a></li>		
									<li><a href="#blog" class="smooth">blog</a></li>
									<li><a href="#contact" class="smooth">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>