<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>portfolio</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- portfolio-menu start -->
					<div class="portfolio-menu text-center">
					 	<button type="submit" data-filter="*">all</button>
					  	<button type="submit" data-filter=".web">Web Design</button>
					  	<button type="submit" data-filter=".ux">UX Design</button>
					  	<button type="submit" data-filter=".illustration">Illustration</button>
					  	<button type="submit" data-filter=".photography">Photography</button>
					</div>
					<!-- portfolio-menu end -->
				</div>
			</div>
			<!-- portfolio-items-active start -->
			<div class="portfolio-items-active">
				<div class="row margin">		
						<div class="col-md-3 col-sm-6 grid-item ux photography">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/1.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/1.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item illustration web ux">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/2.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/2.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item photography ux web">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/3.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/3.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item illustration ux">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/4.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/4.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item phography ux">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/5.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/5.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item web illustration">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/6.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/6.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item ux photography">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/7.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/7.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item illustration photography web">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/8.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/8.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item ux web illustration">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/9.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/9.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item illustration photography ux">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/10.jpg" title="portfolio-imageportfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/10.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item illustration web">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/11.jpg" title="portfolio-imageportfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/11.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
						<div class="col-md-3 col-sm-6 grid-item photography web">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="img/portfolio/full/12.jpg" title="portfolio-image" class="portfolio-lightbox">
                                        <img src="img/portfolio/12.jpg" alt="">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
					</div>
				</div>
				<!-- portfolio-items-active start -->
			</div>