<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>portfolio</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- portfolio-menu start -->
					<div class="portfolio-menu text-center">
					 	<button type="submit" data-filter="*">all</button>
					</div>
					<!-- portfolio-menu end -->
				</div>
			</div>
			<!-- portfolio-items-active start -->
			<div class="portfolio-items-active">
				<div class="row margin">		
                        {% for item in project_objects %}
						<div class="col-md-3 col-sm-6 grid-item {{ item.category }}">
							<!-- single-portfolio-item start -->
							<div class="single-portfolio-item">
                                <div class="portfolio-img">
                                    <a href="#" title="{{ item|title }}" href="#" data-toggle="modal" data-target="#projectModal{{ item.id }}">
                                        <img src="{{ item.featured_image.url }}" alt="{{ item.slug }}">
                                        <div class="portfolio-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </div>
                                    </a>
                                    <div class="portfolio-borders">
                                        <span class="x"></span>
                                        <span class="y"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- single-portfolio-item end -->
                        </div>
                        {% endfor %}
					</div>
				</div>
				<!-- portfolio-items-active start -->
			</div><!-- ./container -->