<div class="container">
			<div class="row m-bottom-0">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>Blog</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<!-- section-divide-line -->
			<div class="section-divide-line">
				<div class="row">
					<div class="col-sm-6">
						<!-- rounded-shape -->
						<div class="rounded-shape wow bounceIn"></div>
						<!-- rounded-shape end -->
						<!-- blog-img start -->
						<div class="blog-img info-line-shape wow slideInLeft">
							<img src="img/blog/blog-img-1.jpg" alt="">
						</div>
						<!-- blog-img end-->
					</div>
					<div class="col-sm-6">
						<!-- blog-content start -->
						<div class="blog-content info-line-shape wow slideInRight">
							<h4>My Work Place</h4>
							<ul class="blog-post">
								<li><i class="icofont icofont-clock-time"></i><span>clock</span></li>
								<li><i class="icofont icofont-user-male"></i><span>User</span></li>
								<li><i class="icofont icofont-speech-comments"></i><span>comment</span></li>
							</ul>
							<p> Nature Harvest Group will be providing necessary technical advice for all those who are prepared to implement the bio waste treatment plant for the generation of bio energy. We undertake the feasibility study, preparation of projects, technology transfer, technical Information, Installation and maintenance of the biogas plants.</p>
							<a href="#" class="blog-btn">Read More</a>
						</div>
						<!-- blog-content end -->
					</div>
				</div>
				<div class="row left">
					<div class="col-sm-6">
						<!-- rounded-shape start -->
						<div class="rounded-shape wow bounceIn"></div>
						<!-- rounded-shape end -->
						<!-- blog-content start -->
						<div class="blog-content info-line-shape wow slideInLeft">
							<h4>My Best Work</h4>
							<ul class="blog-post">
								<li><i class="icofont icofont-clock-time"></i><span>clock</span></li>
								<li><i class="icofont icofont-user-male"></i><span>User</span></li>
								<li><i class="icofont icofont-speech-comments"></i><span>comment</span></li>
							</ul>
							<p> Nature Harvest Group will be providing necessary technical advice for all those who are prepared to implement the bio waste treatment plant for the generation of bio energy. We undertake the feasibility study, preparation of projects, technology transfer, technical Information, Installation and maintenance of the biogas plants.</p>
							<a href="#" class="blog-btn">Read More</a>
						</div>
						<!-- blog-content end -->
					</div>
					<div class="col-sm-6">
						<!-- blog-img start -->
						<div class="blog-img info-line-shape wow slideInRight">
							<img src="img/blog/blog-img-2.jpg" alt="">
						</div>
						<!-- blog-img end -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<!-- rounded-shape -->
						<div class="rounded-shape wow bounceIn"></div>
						<!-- rounded-shape end -->
						<!-- blog-img start -->
						<div class="blog-img info-line-shape wow slideInLeft">
							<img src="img/blog/blog-img-3.jpg" alt="">
						</div>
						<!-- blog-img end -->
					</div>
					<div class="col-sm-6">
						<!-- blog-content start -->
						<div class="blog-content info-line-shape wow slideInRight">
							<h4>My Best Work</h4>
							<ul class="blog-post">
								<li><i class="icofont icofont-clock-time"></i><span>clock</span></li>
								<li><i class="icofont icofont-user-male"></i><span>User</span></li>
								<li><i class="icofont icofont-speech-comments"></i><span>comment</span></li>
							</ul>
							<p> Nature Harvest Group will be providing necessary technical advice for all those who are prepared to implement the bio waste treatment plant for the generation of bio energy. We undertake the feasibility study, preparation of projects, technology transfer, technical Information, Installation and maintenance of the biogas plants.</p>
							<a href="#" class="blog-btn">Read More</a>
						</div>
						<!-- blog-content end -->
					</div>
				</div>
			</div>
			<!-- section-divide-line end -->
		</div>