<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>Skill</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<!-- professonal-skill start -->
					<div class="professonal-skill text-uppercase m-top-20">
						<h3>Professional Skills</h3>
						{% for item in skill_objects %}
							{% if item.category == "Professional Skills" %}
								<div class="progress">
									<div class="p-title">{{ item.title }}</div>
									<div class="progress-bar wow fadeInLeft" data-progress="{{ item.count }}%" style="width: {{ item.count }}%;" data-wow-duration="1.5s" data-wow-delay=".8s">
									<span class="pull-right">{{ item.count }}%</span>
								    </div>
								</div>
							{% endif %}
						{% endfor %}					
					</div>
					<!-- professonal-skill start -->
				</div>
				<div class="col-md-5">
					<!-- professonal-skill start -->
					<div class="professonal-skill text-uppercase m-top-50 m-top-30">
						<h3>Software Skills</h3>
						<!-- Illustrator progress start -->
						{% for item in skill_objects %}
							{% if item.category == "Software Skills" %}
								<div class="progress">
									<div class="p-title">{{ item.title }}</div>
									<div class="progress-bar wow fadeInRight" data-progress="{{ item.count }}%" style="width: {{ item.count }}%;" data-wow-duration="1.5s" data-wow-delay=".8s">
									<span class="pull-right">{{ item.count }}%</span>
								    </div>
								</div>
							{% endif %}	
						{% endfor %}
					</div>
					<!-- professonal-skill end -->
				</div>
				<div class="col-md-7">
					<!-- addotional-skills start -->
					<div class="addotional-skills m-top-50">
						<h3 class="text-uppercase">Additional Skills</h3>
						<!-- Communication progressbar start -->
						{% for item in skill_objects %}
							{% if item.category == "Additional Skills" %}
								<div class="progressbar" data-animate="false">
									<div class="circle" data-percent="{{ item.count }}">
									<div></div>
								</div>
									<h4>{{ item.title }}</h4>
								</div>

							{% endif %}
						{% endfor %}
				    </div>
				    <!-- addotional-skills end-->
				</div>
				<div class="col-md-5">
					<!-- language-skills start -->
					<div class="language-skills m-top-50">
						<h3 class="text-uppercase">Language Skills</h3>
						{% for item in skill_objects %}
							{% if item.category == 'Language Skills' %}
								<div class="progressbar language" data-animate="false">
									<div class="circle" data-percent="{{ item.count }}">
										<div></div>
									</div>
									<h4>{{ item.title}}</h4>
								</div>
							{% endif %}
						{% endfor %}
				    </div>
				    <!-- addotional-skills -->
				</div>
				<div class="col-md-12">
					<!-- resume-print end -->
					<div class="resume-print text-center">
						<a href="#" class="resume-btn">Download<i class="icofont icofont-download-alt"></i></a>
						<a href="#" class="resume-btn print">Print<i class="icofont icofont-print"></i></a>
					</div>
					<!-- resume-print end -->
				</div>
			</div>
		</div>