<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>Testimonial</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-- active-testimonial-carousel start -->
					<div class="active-testimonial-carousel owl-theme owl-carousel">
						<!-- single-testimonial-item end -->
						{% for item in testimonial_objects %}
						<div class="single-testimonial-item text-center">
							<div class="testimonial-thumb">
								<img src="{{ item.image.url }}" alt="{{ item.given_by_name }}">
							</div>
							<h4>{{ item.given_by_name }}<span>{{ item.designation }}</span></h4>
							{{ item.testimony|safe }}
						</div>
						<!-- single-testimonial-item -->
						{% endfor %}
					</div>
					<!-- active-testimonial-carousel -->
				</div>
			</div>
		</div>