<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- section-title start -->
					<div class="section-title">
						<h1>Testimonial</h1>
						<div class="poly-shape"></div>
						<div class="l-shape"></div>
					</div>
					<!-- section-title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-- active-testimonial-carousel start -->
					<div class="active-testimonial-carousel owl-theme owl-carousel">
						<!-- single-testimonial-item end -->
						<div class="single-testimonial-item text-center">
							<div class="testimonial-thumb">
								<img src="img/testimonial/thumb-1.jpg" alt="">
							</div>
							<h4>Marry Chang <span>Web Developer</span></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nobis maiores quidem, minus. Voluptatum et corrupti iste suscipit distinctio mollitia necessitatibus cumque. Id maiores atque porro ratione numquam quasi rerum perferendis veritatis aliquam sunt commodi deleniti quos tempora, dolorum, facilis.</p>
						</div>
						<!-- single-testimonial-item -->
						<!-- single-testimonial-start -->
						<div class="single-testimonial-item text-center">
							<div class="testimonial-thumb">
								<img src="img/testimonial/thumb-2.jpg" alt="">
							</div>
							<h4>Chang Bang<span>Ui/Ux Designer</span></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nobis maiores quidem, minus. Voluptatum et corrupti iste suscipit distinctio mollitia necessitatibus cumque. Id maiores atque porro ratione numquam quasi rerum perferendis veritatis aliquam sunt commodi deleniti quos tempora, dolorum, facilis.</p>
						</div>
						<!-- single-testimonial-start -->
						<!-- single-testimonial-item -->
						<div class="single-testimonial-item text-center">
							<div class="testimonial-thumb">
								<img src="img/testimonial/thumb-3.jpg" alt="">
							</div>
							<h4>Marry Chua <span>Frontend Developer</span></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nobis maiores quidem, minus. Voluptatum et corrupti iste suscipit distinctio mollitia necessitatibus cumque. Id maiores atque porro ratione numquam quasi rerum perferendis veritatis aliquam sunt commodi deleniti quos tempora, dolorum, facilis.</p>
						</div>
						<!-- single-testimonial-item -->
					</div>
					<!-- active-testimonial-carousel -->
				</div>
			</div>
		</div>